<style> 
  .tab {
    display: inline;
  }
</style>
<script type="text/javascript">
  document.observe('dom:loaded',function(){
    new Control.Tabs('port_tab');
  });
</script>

<% unless @portdetails[0].errors.empty?  %>
  There are errors in loading
<% end %>

<% unless @portdetails[1].errors.empty?  %>
  There are errors in discharging
<% end %>

<h1>PortDetails</h1>
<% form_for @portdetails, :url => { :action => "result" } do |f| %>
  <fieldset id="port_tab">
  <ol class="tab">
    <li><a href="#loading">Loading</a></li>
    <li><a href="#discharging">Discharging</a></li>
  </ol>
  </fieldset>
  <%= render :partial => 'portdetail', :locals => {:f => f, :loading_facts => @loading_facts, :discharging_facts => @discharging_facts}, :collection => @portdetails %>
    <div id="submit">
    <%= f.submit "Calculate", :class => "submit" %>
  </div>
<% end %>
