<style> 
  .tab {
    display: inline;
  }
</style>
<script type="text/javascript">
  document.observe('dom:loaded',function(){
    new Control.Tabs('port_tab');
  });
</script>

<h1>PortDetails</h1>
<% form_for @portdetails, :url => { :action => "stfacts" } do |f| %>
  <fieldset id="port_tab">
  <ol class="tab">
    <li><a href="#loading">Loading</a></li>
    <li><a href="#discharging">Discharging</a></li>
  </ol>
  </fieldset>
    <%= render :partial => 'portdetail', :locals => {:f => f}, :collection => @portdetails %>
    <div id="submit">
    <%= f.submit "Statement of Facts", :class => "submit" %>
  </div>
<% end %>
