html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    width: 1000px;
    margin: auto;
}

#title {
  color: #333333;
}

#port-tab, #mainset, .summary, .summary-alt {
    margin: auto;
    padding: 0; 
    border-style: none; 
    background-color: #F2EFE9;
    width: 800px;
    margin-bottom: 20px;
}

.summary-heading {
  font-style: italic;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.summary-alt {
    background-color: #F2F2F2;
}

#port-tab {
  background-color: #F2EFE9;
}

#mainset ol {  
    padding: 1em 1em 0 1em;  
    list-style: none; 
} 

#mainset li {
    padding-bottom: 1em; 
    list-style: none; 
} 

.summary li, .summary-alt li {
    padding-bottom: 2px; 
    list-style: none; 
    padding-left: 10px;
} 

.stitle {
    font-weight: bold; 
    float: left;
    width: 200px;
}

.datelabel {
  float: right;
}

.stdlabel {
  float: left;
  width: 10em;  
  margin-right: 1em; 
  text-align: right;
  color: #333333;
}

.stdtextbox {
  height: 32px;
  font-size: 18px;
}

.ports-to-calc {
  padding-left: 200px;
}

.seperator {
  margin-top: 15px;
  margin-bottom: 15px;
}

.row {
  width: 765;
}

.time-info-text {
  width: 175px;
}

.ttc {
  width: 130px;
}

.pct {
  width: 50px;
}

.rem {
  width: 200px;
}

#submit {
    width: 800px;
    margin: auto;
}

.submit {
    float: right;
}
