html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    width: 1000px;
    margin: auto;
}

label {
    float: left;
    width: 10em;  
    margin-right: 1em; 
    text-align: right;
}

.textbox {
    height: 32px;
    font-size: 18px;
    padding: 2px 2px 2px 4px;
}

fieldset {  
    margin: auto;
    padding: 0; 
    border-style: none; 
    background-color: #F2EFE9;
    width: 800px;
} 

#softable {
    width: 100%;
    table-layout: fixed;
    margin: auto;
}

fieldset ol {  
    padding: 1em 1em 0 1em;  
    list-style: none; 
} 

fieldset li {  
    padding-bottom: 1em; 
    list-style: none; 
} 

#submit {
    width: 800px;
    margin: auto;
}

.submit {
    float: right;
}

#sofgroup {
  width: 1000px;
  list-style: none;
}

.typea {
  width: 200px;
}

.typeb {
  width: 10px;
}

.typec {
  width: 30px;
}

.row {
  width: 1000px;
}

.loc {
  width: 200px;
}

.ttc {
  width: 200px;
  padding-left: 10px;
}

.pct {
  width: 50px;
  padding-left: 10px;
}

.rem {
  width: 300px;
  padding-left: 10px;
}
